<h1>Edit Restaurant</h1>
    <%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :visit %>
    <%=f.date_select(:visit, :order => [:month, :day, :year]) %>

    <%=f.label :review%>
    <%=f.text_area :review%>

    <%= f.submit %>
<% end %> 